@use "variables";
@use "mixins";

body,
html {
    font-size: 15px;
    font-family: variables.$font-primary;
    line-height: 1.5;
    //overflow-x: hidden;
}

.container {
    max-width: 1750px;
    @include mixins.maxWidth(1680) {
        max-width: 90% !important;
    }
    @include mixins.maxWidth(1024) {
        max-width: 95% !important;
    }
    @include mixins.maxWidth(991) {
        max-width: 100% !important;
    }
}

.font18 {
    font-size: 17px;
    @include mixins.maxWidth(1024) {
        font-size: 15px;
    }
    @include mixins.maxWidth(767) {
        font-size: 12px;
    }
}

.font30 {
    @include mixins.maxWidth(1024) {
        font-size: 18px;
    }
    @include mixins.maxWidth(820) {
        font-size: 16px;
    }
    @include mixins.maxWidth(767) {
        font-size: 14px;
    }
}

.text-primary {
    color: variables.$color-primary !important;
}

.font-bold {
    font-family: variables.$font-2 !important;
}

.font-regular {
    font-family: variables.$font-primary !important;
}

.font-semibold {
    font-family: variables.$font-3 !important;
}

.section {
    &__heading {
        font-family: variables.$font-2;
        font-size: 40px;
        @include mixins.maxWidth(1024) {
            font-size: 30px;
        }
        @include mixins.maxWidth(767) {
            font-size: 25px;
        }
        @include mixins.maxWidth(600) {
            font-size: 18px;
        }
    }
    &__sub-heading {
        font-family: variables.$font-3;
        font-size: 25px;
        @include mixins.maxWidth(1024) {
            font-size: 18px;
        }
        @include mixins.maxWidth(820) {
            font-size: 16px;
        }
        @include mixins.maxWidth(767) {
            font-size: 11px;
        }
    }
    &__sub-heading2 {
        font-family: variables.$font-3;
        font-size: 25px;
        @include mixins.maxWidth(1024) {
            font-size: 18px;
        }
        @include mixins.maxWidth(820) {
            font-size: 16px;
        }
        @include mixins.maxWidth(767) {
            font-size: 12px;
        }
        @include mixins.maxWidth(600) {
            font-size: 11px;
        }
    }
    &__title {
        font-size: 30px;
        font-family: variables.$font-2;
        @include mixins.maxWidth(1024) {
            font-size: 20px;
        }
        @include mixins.maxWidth(820) {
            font-size: 18px;
        }
        @include mixins.maxWidth(767) {
            font-size: 15px;
        }
    }
    &__hint {
        font-family: variables.$font-primary;
        font-size: 18px;
        @include mixins.maxWidth(1024) {
            font-size: 15px;
        }
        @include mixins.maxWidth(767) {
            font-size: 10px;
        }
    }
    &__hint2 {
        font-family: variables.$font-primary;
        font-size: 18px;
        @include mixins.maxWidth(1024) {
            font-size: 15px;
        }
        @include mixins.maxWidth(767) {
            font-size: 12px;
        }
    }
    &__typography {
        font-size: 15px;
        font-family: variables.$font-primary;
        @include mixins.maxWidth(767) {
            font-size: 10px;
        }

        strong {
            font-family: variables.$font-2;
        }
        .heading {
            font-size: 20px;
            font-family: variables.$font-2;
            @include mixins.maxWidth(1024) {
                font-size: 18px;
            }
            @include mixins.maxWidth(820) {
                font-size: 15px;
            }
            @include mixins.maxWidth(767) {
                font-size: 11px;
            }
        }
    }
}
