$black: #000;
$white: #fff;
$red: #F80000;
$brown: #f7d69d;
$brown-2: #FFFCD7;
$brown-3: #FEFDDE;
$color-primary: #b81d22;
$gray: #F1F1F1;
$color-header-1: #EC9123;
$color-header-2: #ED1C24;
$color-header-text: #FFFCD5;
$color-text-highlight: #A71C20;
$blue: #0756A7;

$font-primary: 'MyriadPro-Regular';
$font-2: 'MyriadPro-Bold';
$font-3: 'MyriadPro-Semibold';
