@font-face {
    font-family: 'Cambria';
    src: url('Cambria.eot');
    src: url('Cambria.eot?#iefix') format('embedded-opentype'),
        url('Cambria.woff2') format('woff2'),
        url('Cambria.woff') format('woff'),
        url('Cambria.ttf') format('truetype'),
        url('Cambria.svg#Cambria') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambria';
    src: url('Cambria_1.eot');
    src: url('Cambria_1.eot?#iefix') format('embedded-opentype'),
        url('Cambria_1.woff2') format('woff2'),
        url('Cambria_1.woff') format('woff'),
        url('Cambria_1.ttf') format('truetype'),
        url('Cambria_1.svg#Cambria') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambria';
    src: url('Cambria_2.eot');
    src: url('Cambria_2.eot?#iefix') format('embedded-opentype'),
        url('Cambria_2.woff2') format('woff2'),
        url('Cambria_2.woff') format('woff'),
        url('Cambria_2.ttf') format('truetype'),
        url('Cambria_2.svg#Cambria') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambria';
    src: url('Cambria_3.eot');
    src: url('Cambria_3.eot?#iefix') format('embedded-opentype'),
        url('Cambria_3.woff2') format('woff2'),
        url('Cambria_3.woff') format('woff'),
        url('Cambria_3.ttf') format('truetype'),
        url('Cambria_3.svg#Cambria') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

